html {
    min-height: 100vh;
    background-color: rgb(39, 41, 49);
    color: rgb(206, 220, 236);
    overflow-x: hidden;
}

/* next_g was here */

body {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .boxes {
        flex-direction: column !important;
        align-items: center !important;
    }

    .settings { 
        min-width: fit-content !important;
        padding: 2% 10% !important;
    }

    .disclaimer {
        padding: 14px 0 !important;
        font-size: 14px;
    }

    h1 {
        font-size: 5vw;
    }

    #Drill_Image {
        width: 12vw !important;
    }
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.15s;
}

.settings {
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.15);
    width: fit-content;
    padding: 10px;
    border-radius: 16px;
    min-width: 485px;
}

.dddd {
    display: flex;
    align-items: flex-end;
}

.squareDisplay {
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 2px;
}

.drill {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.ingot {
    height: 12px;
    margin-bottom: 1px;
}

.disclaimer {
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: monospace;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px 0;
}

.info {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.disclaimer a {
    color: rgb(241, 138, 241);
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    margin: 4px 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    filter: drop-shadow(0 0 6px rgba(64, 109, 231, 0.33));
}

.settings,
.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Drill_Image {
    rotate: -2deg;
    margin-right: 20px;
    width: 72px;
}

.depth_section {
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.depthlabel {
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 90%;
    margin-right: 4px;
    color: white;
}

#Depth_Input {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    width: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
    outline: none;
}

#First_Output_Label {
    top: 34px;
}

#Second_Output_Label {
    top: 58px;
}

#Third_Output_Label {
    top: 82px;
}

#Fourth_Output_Label {
    top: 106px;
}

.Title svg {
    width: fit-content;
    min-width: 8%;
    max-width: 8%;
    margin-right: 2px;
    scale: 0.8;
    color: #7887ee;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS';
    font-size: 120%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    text-align: center;
}

.Drillbit_Info {
    font-family: 'Trebuchet MS';
    font-size: 90%;
}

.Output_Label {
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    left: 60%;
    font-family: 'Trebuchet MS';
    font-size: 90%;
}

.Dropdown_Box {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin: 0 1px;
    white-space: nowrap;
}

.Dropdown_Button {
    font-family: 'Trebuchet MS';
    font-size: 75%;
    width: 100%;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    margin: 2px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    height: 24px;
    transition: 0.15s;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.Dropdown_Button:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0);
}

.Dropdown_Container {
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: 0.15s;
}

.copper {
    background: linear-gradient(32deg, #36211c, #974431, #36211c) !important;
    color: #f5b2a3 !important;
}

.iron {
    background: linear-gradient(32deg, #2e2e38, #767691, #2e2e38) !important;
    color: #e7e7e7 !important;
}

.steel {
    background: linear-gradient(32deg, #1f2125, #4f535b, #1f2125) !important;
    color: #d9e5f7 !important;
}

.tungsten {
    background: linear-gradient(32deg, #1b1c24, #525047, #1b1c24) !important;
    color: #f7f7e7 !important;
}

.water {
    background: linear-gradient(14deg, #a9c9e2, #c6d8e4, #a9c9e2, #c6d8e4) !important;
    color: #1572af !important;
}

.acetic {
    background: linear-gradient(14deg, #949799, #d1d5d8, #949799, #d1d5d8) !important;
    color: #516069 !important;
}

.sulphuric {
    background: linear-gradient(14deg, #3f98cc, #347ec4, #3f98cc, #347ec4) !important;
    color: #384753 !important;
}

.hydrochloric {
    background: linear-gradient(14deg, #9a9e83, #d1d1c2, #9a9e83, #d1d1c2) !important;
    color: #5c662f !important;
}

.machineoil {
    background: linear-gradient(14deg, #5e5c04, #978f1c, #5e5c04, #978f1c) !important;
    color: #e8f5b3 !important;
}

.none {
    border-color: rgba(255, 255, 255, 0.25) !important;
}

.Dropdown_Container button {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 75%;
    width: 100%;
    height: 24px;
    display: block;
    border: 2px solid;
    border-top: none;
    cursor: pointer;
    color: white;
    background: #474950;
    transition: 0.15s;
}

.Dropdown_Container button:not(.none) {
    border-color: rgba(0, 0, 0, 0.25) !important;
}

.Dropdown_Container button:hover {
    filter: brightness(1.1) saturate(1.7);
}

.Dropdown_Container button:first-child {
    border-top: 2px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Dropdown_Container button:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.show {
    opacity: 1;
    visibility: visible !important;
}

#Depth_Content {
    max-height: 50vh;
    overflow-y: scroll;
}